@import url('https://fonts.googleapis.com/css?family=Martel+Sans|Playfair+Display|Sigmar+One&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --primaryColor: #FFBA48;
   --secondaryColor:  #049c09 ;
}

/* utilities */
a{
   text-decoration: none;
   /* color: darkblue; */
}

li{
   list-style: none;
}

body{
   background: #252627;
   /* background-image: radial-gradient(circle, #0F2027, #203A43, #2C5364); */
   /* #0F2027
   #203A43
   #2C5364 */
   overflow:hidden;
}

/* navigation menu */
header{
   background: #222;
}

nav h1 a{
   font-family: 'Poppins', sans-serif;
   font-size: 1.2rem;
   color: #EBEBEB;
   letter-spacing: 0.2rem;
   position: relative;
}

nav h1 a:hover{
   color: var(--primaryColor);
   transition: 0.5s ease;

}
nav h1 a:hover::before
 {
   border-bottom: 1px #EBEBEB solid;
   transition: 0.5s ease;
}

nav h1 a::before{
   position: absolute;
   content: "";
   width: 85%;
   height: 10px;
   padding:1rem;
   border-bottom: 1px var(--primaryColor) solid;

}


header nav{
   max-width: 1200px;
   padding: 0.5rem;
   margin: auto;
   display: flex;
   justify-content:space-between;
   align-items: center;


}
header nav h1{
   flex:1;
   
}

header nav ul{
   flex: 1;
   display: flex;
   justify-content: flex-end;
   text-align: center;
}

header nav ul li{
   margin: 1rem;
   padding: 1rem;
   flex-basis: 1;
}

header nav ul li a{
   color: #EBEBEB;
   letter-spacing: 0.1rem; 
}
header nav ul li a:hover{
   color: var(--primaryColor);   
   transition: 0.3s ease-in-out;
}

/* starting page */

 /* #startBtn{
   background: pink;
   position: absolute;
   width: 100px;
   height: 100px;
   border: 1px red solid;
   
}  */

#startPage{
  top:45%;
  left:50%;
  transform: translate(-50%,-50%);
  position: absolute;
  z-index: 2;
}
#startPage div h2{
   color: #ccc;
   text-align: center;
   padding: 3rem;
   font-family: 'Playfair Display', serif;
   letter-spacing: 0.3rem;
   font-size: 2.5rem;
  
}


#startPage a {
   color: #ccc;
   padding: 1rem 2rem;
   display: block;
   border:1.5px solid #ccc;
   position: absolute;
   top:125%;
   left:50%;
   transform: translate(-50%,-50%);
   /* background: red; */
   
}

#startPage a:hover{
   color: var(--secondaryColor);
   border:1.5px var(--secondaryColor) solid;
   transition: 0.5s ease-in-out;
}
